.reveal .slide-logo {
    height: 150px !important;
    width: 150px!important;
    max-width: unset !important;
    max-height: unset !important;
  }


.reveal section p {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}